.card {
  &__wrapper {
    display: grid;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: repeat(5, 200px);
    gap: 35px;
  }

  &__img {
    width: 200px;
  }
}
